.board {
  padding: 16px;
  height: 67%;
}

.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

.board-create-room {
  display: flex;
  gap: 5px;
  margin: 5px;
}

.room-input {
  padding: 0.4rem 0.6rem;
  margin-right: 0.6rem;
  background: #111;
  border: 1px solid #00ff66;
  border-radius: 6px;
  color: #00ff66;
  font-size: 0.95rem;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.room-input::placeholder {
  color: rgba(0, 255, 102, 0.3);
}

.room-input:focus {
  border-color: #00ff66;
  box-shadow: 0 0 6px #00ff6688;
}

.btn.menu-btn {
  padding: 10px 20px;
  border: 1px solid #00ff66;
  background: transparent;
  color: #00ff66;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.btn.menu-btn:hover {
  background-color: #00ff66;
  color: #000;
}

.room-actions {
  display: flex;
  gap: 5px;
}
