.board {
  padding: 16px;
  height: 67%;
}

.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

.hint {
  margin-top: 10px;
  color: rgba(0,255,102,0.7);
  font-size: 12px;
}
